@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    
  }
  /* shered style */
 .display-flex{
    display: flex;
    margin: 0 auto;
   
 }
.text-parimary{
    color: #FF900E;
}
.Dark-2{
    color: #424242;
}
.Dark-3{
    color: #727272;
}
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
 .btn-parimary{
    border-radius: 8px;
    background-color: rgb(255, 144, 14);
    color: white;
    padding: 21px 24px 20px 25px;
    Font-weight:600;
    Font-size:1.25rem;
    border: none;
 
 }
  .section-title{
    font-size: 2.5rem;
    font-weight: 700;
    padding: 0 53px 42px;
   
}
  main{
    max-width: 1920px;
    margin: 0 auto;
  }
  section{
   margin-top: 130px;
  }

/* header style */


  /* navber style */
  .navber{
    justify-content: space-between;
    align-items: center;
  }
  .brand{
    font-weight: 700;
    font-size: 3rem;
    margin: 0 auto;
  }
  .nav-item{
    list-style: none;
    margin-right: 30px;
  }
 .nav-link{
    
    text-decoration: none;
    font-weight: 600;
 }
 .banner, .navber{
    max-width: 1920px;
    margin: 0 auto;
 }


/* banner style */

 .banner-container{
    max-width:850px ;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
 }
 .banner-title{
    font-weight: 700;
    font-size: 4rem;
   
 }
 .banner-image{
    width: 100%;
 }


/* main part ar teams plan style */
.teams{
   align-items: center;
  /* justify-content: center; */
}
.image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 130px;
}
 .our-features{
    margin-left: 73px;
    max-width: 537px;

}

 #Quick{
    font-weight: 500;
 }
.features-decription{
    margin-bottom: 32px;
    word-spacing: 4px;
}


/* features style */

.features {
  gap: 140px;
}
.features-image img{
  width:100% ;
}
#features-section-title{
  border-left: 5px solid #FF900E;
  padding-left: 21px;
}
.features-card{
  padding: 30px;
  box-shadow:0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;
}
.features-card .features-title{
  Font-weight:600;
  Font-size:20px;
  margin-top: 0px;
  margin-bottom: 0px;
 
}
#experience-badge{
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 8px;
  margin-top: -100px ;
  margin-left: -100px;
}
#Experience-year{
  font-size: 4rem;
  font-weight: 700;
}
/* facts-card style */

.facts-container{
 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7.75rem;
}
.facts-card{
  border:1px solid #FF900E;
  border-radius:8px ;
  width: 250px;
  height: 250px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.facts-number{
  font-weight: 600;
  font-size: 3rem;
  margin-top: 10px;
  margin-bottom: 5px;
}
.facts-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 5px;
}
.facts-description{
  /* width: 540px;
  font-size: 20px;
  font-weight: 400; */
  max-width:540px ;
  padding: 0px 2px ;
  /* word-spacing: 2px; */
 
}


/* Our Sponspors style */
.sponsor-info{
max-width: 542px;
margin: 50px auto;
text-align: center;
}
.sponsor-title{

}
.sponsor-companis{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  
}
.sponsor-companis img{
  filter: grayscale(100%);
  border:1px dashed #319DFD ;
}
/* footer style */
.footer{
  background-color:#FFF4E7 ;
  color: #424242;
 
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  text-align: center;
  justify-content: center;

}

/* Responsive media screen */
@media screen and (max-width:576px) {
    .navber,
    .nav-link,
    .teams,
    .features
    {
        flex-direction: column;
        gap: 10px;
       
    }
    .image-container, .facts-container, .sponsor-companis{
        grid-template-columns: 1fr;
    }
   .facts-container{
      justify-content: center;
      gap: 24px;
    }
    .sponsor-companis{
      justify-items: center;
      gap: 50px;
    }
    .section-title, 
 
    .features-card, 
    #experience-badge{
      padding: 8px;
    }
    #experience-badge{
      margin: 2px;
    }
   
    .our-features{
        margin: 20px;
    }
    #experience-badge, .footer{
      margin-top: 20px;
      margin-left: 20px;
    }
    
}


    /*  medium devices Responsive */

 @media screen and (min-width:576px) and (max-width:992px) {
        .teams, .features{
            flex-direction: column;
        }
        .our-features{
            margin:20px auto;
        }
        .sponsor-companis, .facts-container{
          grid-template-columns: repeat(2, 1fr);
          gap: 50px;
          justify-items: center;
        }
        #experience-badge{
          margin-top: 20px;
          margin-left: 20px;
        }
    }


